h1 {
    color: #444649;
    font-family: "raleway-bold";
    font-size: 30pt;
    position: relative;
    text-align: center;
}

.half-highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
}

.profile {
    width: 250px;
    height: 250px;
}

.container {
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    margin: 15px 0 15px 0;
    text-align: center;
    font-family: "raleway-bold";
}

.profile-div {
    margin: 25px 0 0 0;
}

b {
    font-size: 14pt;
}